<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (htmlWebpackPlugin.options.isDevelopment) { %>
        <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-eval' 'self'" />
    <% } else { %>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <% } %>
    <title>Electron Desktop Sample</title>
</head>
<body>
    <div id="root"></div>
</body>
</html>
